:root {
    @import url(https://fonts.google.com/specimen/Hanken+Grotesk);

    --fonte: 'Hanken Grotesk';

    /*PRIMARIAS*/
    --branco: hsl(0, 0%, 100%);

    /*BACKGROUND GRADIENT*/
    --azulSlate: hsl(252, 100%, 67%);
    --azulRoyal: hsl(241, 81%, 54%);

    /*CIRCLE GRADIENT*/
    --azulVioleta: hsla(256, 72%, 46%, 1);
    --azulPercia: hsla(241, 72%, 46%, 0);
}

* {
    font-family: var(--fonte);

}

/*
Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800*/

h1 {
    font-weight: 500;
    color: hsl(241, 100%, 89%);
}

p {
    font-size: 18px;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
}

.LeftSide {
    padding: 2rem;
    margin-right: -1rem;
    color: var(--branco);
    background-image: linear-gradient(180deg, var(--azulSlate), var(--azulRoyal));
    border-radius: 25px;
    width: 360px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    min-width: 360px;
    z-index: 1;
    margin: 0;
    box-shadow: 0 0.063rem 0.188rem rgb(31 50 81 / 12%), 0 0.063rem 0.125rem rgb(31 50 81 / 24%);
    position: absolute;
}

.LeftSide h3 {
    font-size: 1.75rem;
}

.LeftSideAfter{
    transform: translateX(-11rem);
    transition: transform 0.5s ease-in-out;
}

.container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, var(--azulVioleta), var(--azulPercia));
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h2 {
    font-size: 4.3rem;
    margin: 0;
    padding: 0;
}

.container p {
    color: hsl(241, 100%, 89%);
    margin: 0;
    max-width: 290px;
}

.containerP {
    padding: 0 1rem;
}

@media screen and (max-width: 730px) {
    .LeftSide {
        width: 100vw;
        border-radius: 0 0 20px 20px;
    }
}