@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    --tw-gradient-from: hsl(252, 100%, 67%);
    --tw-gradient-to: hsl(241, 81%, 54%);
    --fs: 2rem;
    --fs: 1rem;
    --font-family: 'Hanken Grotesk', sans-serif;
    --fw: font-weight: 700;

}

h2,
span,
p,
button {
    font-family: var(--font-family);
}

.cardWrapper>div {
    margin: 2.5rem 0 .5rem 0;


}

.cardWrapper>div>h2 {
    font-weight: 600;
    margin-left: -9rem;
}

.cardWrapper {
    height: 510px;
    width: 370px;
    box-shadow: 8px 8px 20px 0px var(--Pale-blue);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--fs);
    align-items: center;
}


.first {
    background-color: hsla(0, 100%, 67%, 0.07);
    box-shadow: -1px -1px 0 -1px var(--Light-red), 1px -1px 0 -1px var(--Light-red), -1px 1px 0 -1px var(--Light-red), 1px 1px 0 -1px var(--Light-red);

}

.first>span {
    color: var(--Light-red);
    display: flex;
    align-items: center;
}

.second {
    background-color: hsla(39, 100%, 56%, 0.1);
    box-shadow: -1px -1px 0 -1px var(--Orangey-yellow), 1px -1px 0 -1px var(--Orangey-yellow), -1px 1px 0 -1px var(--Orangey-yellow), 1px 1px 0 -1px var(--Orangey-yellow);
}

.second>span {
    color: var(--Orangey-yellow);
    display: flex;
    align-items: center;
}

.thirty {
    background-color: hsla(166, 100%, 37%, 0.08);
    box-shadow: -1px -1px 0 -1px var(--Green-teal), 1px -1px 0 -1px var(--Green-teal), -1px 1px 0 -1px var(--Green-teal), 1px 1px 0 -1px var(--Green-teal);
}

.thirty>span {
    color: var(--Green-teal);
    display: flex;
    align-items: center;
}

.fourty {
    background-color: hsla(234, 85%, 45%, 0.08);
    box-shadow: -1px -1px 0 -1px var(--Cobalt-blue), 1px -1px 0 -1px var(--Cobalt-blue), -1px 1px 0 -1px var(--Cobalt-blue), 1px 1px 0 -1px var(--Cobalt-blue);
}

.fourty>span {
    color: var(--Cobalt-blue);
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

ul>li>span {
    font-weight: 500;
}

.est {
    color: rgba(128, 128, 128, 0.568);
}

ul>li>p {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul>li>span>svg {
    margin-right: 0.5rem;
}
li:hover{
    transform: translateX(2rem);
    transition: transform 0.2s ease-in-out;
}

ul>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 290px;
    height: 55px;
    border-radius: 10px;
    padding: 15px;
}


button {
    width: 280px;
    height: 50px;
    font-weight: 400;
    border-radius: 50px;
    border: none;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 14px;
    margin-top: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button>svg {
    font-size: 17px;
    margin-left: 6rem;
    position: absolute;
}


button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%),
            hsl(241, 81%, 54%));
}

button:hover>svg {
    transform: translateX(3rem);
    transition: transform 0.2s ease-in-out;
}


li p {
    color: var(--Dark-gray-blue);
    font-weight: 700;
}

@media screen and (max-width: 730px) {
    ul {
        width: 100vw;
    }
    .cardWrapper{
        box-shadow: none;
        width: 100vw;
    }
    
    ul > li{
        border-radius: 0;
    }

    li:hover{
        transform: none;
    }

    .cardWrapper>div>h2 {
        font-weight: 600;
        margin-left: 0.5rem;
    }
    
  }