@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}


:root{
    --Light-red: hsla(0, 100%, 67%, 0.2);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    --fs: 2rem;

}


.cardWrapper{
    height: 510px;
    width: 370px;
    box-shadow: 8px 8px 8px var(--Pale-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--fs);
    
}



.first{
    background-color:hsla(0, 100%, 67%, 0.1);

}

.second{
    background-color: hsla(39, 100%, 56%, 0.1);
}

.thirty{
    background-color: hsla(166, 100%, 37%, 0.1);
}

.fourty{
    background-color: hsla(234, 85%, 45%, 0.1);
}



ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;

}

 ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
}

.leftSide{
display: flex;
align-items:flex-end;
justify-content: flex-start;
background-color: aqua;
}

button{
    width: 280px;
    height: 50px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 14px;
}